
:host .input{
    border: none;
    width: 80%;
    height: 100%;
    outline: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid gray;
}

:host(:focus), :host(:focus-within){
    border: 2px solid purple;
}


:host {
    border: 1px solid gray;
    display: inline-block;
    min-width: 30px;
}

:host-context(.ListClass){
    border-top: 1px solid gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    min-width: 50px;
}

:host input[type=checkbox]{
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    max-width: 20%;
}
