
:host .input{
    border: none;
    width: 80%;
    height: 100%;
    outline: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid gray;
}

:host(:focus), :host(:focus-within){
    border: 2px solid purple;
}

:host {
    border-top: 1px solid gray;
    display: block;
    min-width: 50px;
}

:host input[type=checkbox]{
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    max-width: 20%;
}
